@(model: QuestionnaireModel, calculator: CalculatorModel)
@import utils.Ordinals
<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if, how and when your business needs to publish reports</h1>
    <div class="govuk-box-highlight left-align">
        <h3 class="bold-medium">Your business is required to publish payment practice reports.</h3>
        <ul class="list">
            <li><a href="#">Email this guide</a></li>
            <li><a href="#" onclick="window.print()">Print this guide</a></li>
        </ul>
    </div>
    <h3 class="heading-medium underline">Your deadlines</h3>
    @if(calculator.showsFuture()) {
    <p>
        You told us that your financial year runs from <span class="nowrap">@calculator.getStartDate()</span> to <span class="nowrap">@calculator.getEndDate()</span>. You do not have to report for this period.
    </p>
    <p>
        If you don't change your financial year dates, @(calculator.getReportingPeriods().size() match{ case 1 => "this is your first reporting period" case n => "these are your first " + n + " reporting periods"}):
    </p>
    } else {
    <p>
        You told us that your financial year runs from <span class="nowrap">@calculator.getStartDate()</span> to <span class="nowrap">@calculator.getEndDate()</span>. This year is covered by @(calculator.getReportingPeriods().size() match {case 1 => "a single reporting period" case n => n + " reporting periods"}):
    </p>
    }
    @for((x,i) <- calculator.getReportingPeriods().zipWithIndex) {
        <h3 class="bold-medium">Your @(new Ordinals(i+1).get()) report:</h3>
        <p>
            Covers the period <span class="bold-small"><span class="nowrap">@x.StartDate.ToDateString()</span> to <span class="nowrap">@x.EndDate.ToDateString()</span></span>
            <br>
            You must submit this report by <span class="bold-small nowrap">@x.FilingDeadline.ToDateString()</span>
        </p>
    }

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong>Each report must be signed off by a company director or a designated member of a Limited Liability Partnership. Reports must be complete, accurate and truthful: if not, the business and every director or designated member may be liable to a fine.</strong>
    </div>

    @if(model.getAnswer().showGroupGuidance) {
        <h3 class="heading-medium underline">Guidance for parent companies</h3>
        <p>
            You told us that your business has subsidiary companies. They will also need to report if they are large.We define a large company as one that exceeded at least two of these thresholds on the last two balance sheet dates:
        </p>
        <ul class="list list-bullet">
            <li>Turnover of £36 million</li>
            <li>£18 million on its balance sheet</li>
            <li>250 employees</li>
        </ul>
        <p>
            Any other business can choose to report if they want.
        </p>
    }

    <h3 class="heading-medium underline">Which invoices you need to report on</h3>
    <p>
        You need to report on all invoices apart from those involving contracts for financial services, and those where <a href="http://www.legislation.gov.uk/ukpga/1998/20/section/12" rel="external">the contracts don’t have a significant connection to the UK</a>.
    </p>

    <h3 class="heading-medium underline">What you need to report</h3>

    <h4 class="heading-small">Start and end date of reporting period</h4>
    <ul class="list list-bullet">
        <li>These will be the dates given above under ‘Your Deadlines’.</li>
    </ul>

    <h4 class="heading-small">Average time to pay in days</h4>
    <ul class="list list-bullet">
        <li>Out all of the payments you have made in the reporting period, the average time it took to pay. This must be rounded up or down to the nearest whole number.</li>
    </ul>

    <h4 class="heading-small">Percentage of invoices not paid within agreed terms</h4>
    <ul class="list list-bullet">
        <li>This relates to the number of invoices, not their value. This must be rounded up or down to the nearest whole number.</li>
    </ul>

    <h4 class="heading-small">Percentage of invoices paid</h4>
    <ul class="list list-bullet">
        <li>Within 30 days</li>
        <li>In 31 to 60 days</li>
        <li>In more than 60 days</li>
    </ul>
    <p>Round these to the nearest whole number. </p>

    <h4 class="heading-small">Standard Payment Terms</h4>
    <ul class="list list-bullet">
        <li>This should include your standard payment period, an explain any special terms and requirements. If you have different terms for different types of supplier, explain them here. Most companies write a couple of paragraphs here. You can include a link to the relevant page or PDF on your website.</li>
    </ul>

    <h4 class="heading-small">Your maximum contractual payment period</h4>
    <ul class="list list-bullet">
        <li>The longest payment terms you demanded from a supplier in this reporting period. You can simply enter the number of days, or can add an explanation as well.</li>
    </ul>

    <h4 class="heading-small">Changes to standard terms</h4>
    <ul class="list list-bullet">
        <li>This should include details of exactly what has changed – be sure to include the ‘before’ and ‘after’ situation. You’ll also need to tell us whether you consulted with suppliers before making changes, and informed them of the changes before they took effect.</li>
    </ul>

    <h4 class="heading-small">How do you handle complaints and queries from your suppliers about payments under qualifying contracts?</h4>
    <ul class="list list-bullet">
        <li>Most companies write a couple of paragraphs</li>
    </ul>

    <h4 class="heading-small">Does your business offer E-invoicing?</h4>
    <ul class="list list-bullet">
        <li>State if you allow suppliers to electronically submit invoices.</li>
        <li>Select ‘yes’ or ‘no’.</li>
    </ul>

    <h4 class="heading-small">Does your business offer supply chain finance options?</h4>
    <ul class="list list-bullet">
        <li>State whether you have a system where a supplier's invoice can be paid quickly by a third-party company, who you then pay at a later date.</li>
        <li>Select ‘yes’ or ‘no’.</li>
    </ul>

    <h4 class="heading-small">Does your business have a policy of deducting sums from payments as a charge for remaining on a supplier list?</h4>
    <ul class="list list-bullet">
        <li>Select ‘yes’ or ‘no’.</li>
    </ul>

    <h4 class="heading-small">In this reporting period, has your business deducted sums from payments as a charge for remaining on a supplier list?</h4>
    <ul class="list list-bullet">
        <li>You need to answer this even if you answer ‘no’ to the above question.</li>
        <li>Select ‘yes’ or ‘no’.</li>
    </ul>


    <h4 class="heading-small">Is your business a signatory to a code of practice for payment? An example is the Prompt Payment Code</h4>
    <ul class="list list-bullet">
        <li>Select ‘yes’ or ‘no’.</li>
    </ul>


    <h3 class="heading-medium underline">Before you start</h3>

    <ul class="list list-bullet">
        <li>Make sure your complete report data is signed off by a company director or partner in an LLP</li>
        <li>You'll need to be authorised with <a href="https://beta.companieshouse.gov.uk/" rel="external">Companies House</a> to publish reports for your company</li>
        <li>The authorisation process can take several weeks. You can then return to this website and <a href="@routes.SearchReport.search(true)">publish your report</a></li>
    </ul>
</div>
