@(answer: QuestionnaireModel.Answer)
<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if, how and when your business needs to publish reports</h1>
    <div class="govuk-box-highlight left-align">
        <h3 class="bold-medium">Your business is not required to publish payment practice reports</h3>
        <p>
            @answer.reason
        </p>
    </div>
    <p>
        Even though your business is not legally required to do so, you can choose to publish reports voluntarily if you wish.
    </p>
</div>
