@(answer: QuestionnaireModel.Answer, m: QuestionnaireModel)
<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <div class="govuk-box-highlight left-align">
        <h3 class="bold-medium">You need to report on your payment practices</h3>
    </div>
    <p>
        This is because you told us that your business:
    </p>
    <ul class="list list-bullet">
        @if(m.questions.get(0).getAnswer() == 0) { <li>is a company or Limited Liability Partnership incorporated in the UK</li> }
        @if(m.questions.get(2).getAnswer() == 0 || m.questions.get(5).getAnswer() == 0) { <li>had a turnover of more than £36 million on its last 2 balance sheet dates</li> }
        @if(m.questions.get(3).getAnswer() == 0 || m.questions.get(6).getAnswer() == 0) { <li>had more than £18 million balance sheet total at its last 2 financial year ends</li> }
        @if(m.questions.get(4).getAnswer() == 0 || m.questions.get(7).getAnswer() == 0) { <li>had an average of at least 250 employees during both of its last 2 financial years</li> }
    </ul>

    @if(m.questions.get(8).getAnswer() == 0) {
        <p>
            You also stated that your business has subsidiaries and:
        </p>
        <ul class="list list-bullet">
            @if(m.questions.get(9).getAnswer() == 0 || m.questions.get(12).getAnswer() == 0) { <li>had an total turnover of at least £36 million net or £43.2 million gross</li> }
            @if(m.questions.get(10).getAnswer() == 0 || m.questions.get(13).getAnswer() == 0) { <li>had a combined balance sheet total of £18 million net or £21.6 million gross</li> }
            @if(m.questions.get(11).getAnswer() == 0 || m.questions.get(14).getAnswer() == 0) { <li>had a combined workforce of at least 250</li> }
        </ul>
        <p>
            on both of the last 2 balance sheet dates.
        </p>
    }
    <form method="GET" action="@routes.Questionnaire.calculator()">
        @for(q <- m.questions) {
            @if(q.hasAnswer()) {
                <input type="hidden" name="@q.id" value="@q.getAnswer()">
            }
        }

        <input type="submit" class="button button-start" value="Find out how to report">
    </form>
    <p>
        You’ll normally have to report twice a year, with each report covering 6 months.
    </p>
</div>
