<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if, how and when your business needs to publish reports</h1>
    <h2 class="heading-medium">How this will work:</h2>
    <ul class="list list-bullet">
        <li>on the following pages you will answer some questions about your business</li>
        <li>in return, you will be told whether your business is legally required to publish reports</li>
        <li>if you need to publish reports, you will be told when you need to do so, and how to prepare</li>
    </ul>
    <a href="@routes.Questionnaire.ask()" class="button button-start">File a payment report</a>
</div>
