<div class="footer-categories">
    <div class="footer-explore grid-row">
        <div class="column-half">
            <h3 class="bold-medium" style="border-bottom: 1px solid #bfc1c3; padding-bottom: 10px; margin-bottom: 10px">
                Payment practices reporting
            </h3>
            <ul class="list">
                <li><a href="@routes.Home.index()">Home</a></li>
                <li><a href="@routes.SearchReport.search()">Search for a business</a></li>
            </ul>
        </div>
        <div class="column-half">
            <h3 class="bold-medium" style="border-bottom: 1px solid #bfc1c3; padding-bottom: 10px; margin-bottom: 10px">
                Information for large businesses
            </h3>

            <ul class="list">
                <li><a href="@routes.Home.ifGuide()">Find out if your business needs to report</a></li>
                <li><a href="@routes.Home.howGuide(0)">How to report</a></li>
                <li><a href="@routes.SearchReport.search()">Publish a report</a></li>
            </ul>
        </div>
    </div>
</div>
