@()
<h2 class="heading-medium">Enter business name or company number</h2>
<div class="search-bar-active">
    <div class="searchfield">
        <label class="hidden" for="site-search-text">Enter business name or company number</label>
        <input autocomplete="off" name="q" id="site-search-text" title="Search" value="" placeholder="Start here..." autofocus="autofocus" class="js-search-focus" type="search">
        <button type="submit" id="search-submit" class="search-submit" aria-label="Search">Search</button>
    </div>
</div>