@import play.data.FormFactory
@views.html.common.page.govukTemplateDefaults("Payment duty register") {
    <h1 class="heading-xlarge">
        Payment duty register
    </h1>
    <p class="lede">
        Lorem ipsum, dolor set amit.
    </p>
    <p>
        Blah blah blah. Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.
    </p>
    <p>
        Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.Blah blah blah.
    </p>
    <p>
        Blah blah blah. Blah blah blah.
    </p>

    <p>
        <a href="@routes.Home.index()" class="link-back">Back</a>
    </p>


}