@import play.data.FormFactory
@views.html.common.page.govukTemplateDefaults("Access raw data") {
    <h1 class="heading-xlarge">
        Access raw data
    </h1>
    <p class="lede">
        You can download the raw dataset for commercial and personal use. The set contains all reports submitted in the last 24 months.
    </p>
    <p>
        Lorem ipsum dolor sit amet, sit eu adolescens suscipiantur. Augue accommodare sit ut, nusquam placerat ex sit. Soluta nostrum intellegat duo cu. Erat legere saperet ei sed. Id eam ponderum fabellas, albucius similique omittantur cum an. Liber luptatum cu vis, id vis vide eirmod facilis.
    </p>
    <p>
        Wisi aperiri quaerendum eu eam, choro suscipiantur te nam. Nec discere percipit suscipiantur ex, vim sale alienum expetendis et, sit natum aliquip eu. Vulputate consectetuer duo ne. Facer eirmod sapientem id est, sea quem viris feugait ea. His vidisse dissentias te, ad zril tempor pericula mei, ne vel everti saperet tacimates.
    </p>

    <p>
        <a href="@routes.Home.export()" class="button">Get CSV file</a>
    </p>

    <p>
        <a href="@routes.Home.index()" class="link-back">Back</a>
    </p>
}