@(page:Int, print: Boolean, calculator: CalculatorModel)
@import utils.Ordinals
<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="grid-row">
<div class="column-two-thirds">
    <h1 class="heading-xlarge">
        How to report your payment practices: a guide for large businesses
    </h1>
    @if(!print) {
        <div class="grid-row">
            <div class="column-half">
                <ol class="list list-number">
                    <li>@_guidePageLink("Overview", 0, page)</li>
                    <li>@_guidePageLink("Deadlines", 1, page)</li>
                </ol>
            </div>
            <div class="column-half">
                <ol start="3" class="list list-number">
                    <li>@_guidePageLink("What to report", 2, page)</li>
                </ol>
            </div>
        </div>
        <hr>
    }

    @if(page == 0 || print) {
        <h2 class="heading-large">1. Overview</h2>
        <p>
            <a href="@routes.Home.ifGuide()">Large businesses</a> must publish information about how they pay their suppliers, including:
        </p>
        <ul class="list list-bullet">
            <li>their payment terms</li>
            <li>how well they perform against those terms</li>
            <li>their payment practices</li>
        </ul>
        <p>
            This applies to private and public companies and limited liability partnerships (LLPs).
        </p>
        <p>
            You have to report every six months. The start date depends on <a href="@routes.Home.howGuide(1)">your business’s financial year</a>.
        </p>
        <p>
            The report should cover payments under your contracts with other businesses for goods, services and intangible assets, but not:
        </p>
        <ul class="list list-bullet">
            <li>contracts for financial services</li>
            <li>contracts which don’t have a significant connection the UK</li>
        </ul>
        <p>
            All reports will be available online for anyone to read and download.
        </p>

        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong>The report must be signed off by a director or a designated member of a LLP. You must submit your report before the deadline and the report must be accurate and truthful. If not, the business and every director or designated member may be liable to a fine.</strong>
        </div>
        @if(!print) {
            @_pagination(0, null, "Deadlines")
        }
    }
    @if(page == 1 || print) {
        <h2 class="heading-large">2. Deadlines</h2>
        <p>
            If your financial year runs for 12 months, you need to publish a report twice in each period. There are different rules if your financial year is less than 9 months or longer than 15 months: the calculator below explains how many reports you'll need to publish and your deadlines.
        </p>
        <p>
            Your first reporting period will always start from the beginning of the first financial year which starts on or after 6 April 2017. However long your reporting periods are, your deadline to report is always 30 days from the end of the reporting period.
        </p>
        @if(!print) {
            <p class="bold-medium">
                Calculate your reporting period and your deadline to report <a id="calculator"></a>
            </p>
            <form class="inline-wizard" method="POST" action="#calculator">
                <fieldset class='@(!calculator.isValid() match {case true => "error" case false => ""})'>
                    @if(!calculator.isValid()) {
                        <span class="error-message">
                            These dates are not valid
                        </span>
                    }

                    <p class="heading-small">Enter the start date of your financial year</p>
                    @shared._dateinput("start-", calculator.startDay, calculator.startMonth, calculator.startYear)

                    <p class="heading-small">Enter the end date of your financial year</p>
                    @shared._dateinput("end-", calculator.endDay, calculator.endMonth, calculator.endYear)
                </fieldset>

                <input class="button" type="submit" value="Calculate your reporting periods">
                @if(calculator.isValid() && !calculator.isEmpty()) {
                <div class="output">
                    @if(calculator.getReportingPeriods().isEmpty()) {
                        <h3 class="bold-medium">You don't have to report for that financial year.</h3>
                        <p>
                            You only need to report for financial years starting on or after <span class="bold-small nowrap">6 April 2017</span>.
                        </p>
                        <p>
                            You may determine your first reporting period by entering the first financial year starting on or after <span class="bold-small nowrap">6 April 2017</span>.
                        </p>
                    } else {
                        <p class="bold-small">You must publish @(calculator.getReportingPeriods().size() match { case 1 => "1 report" case n => n + " reports"}) in the stated period.</p>
                        @for((x,i) <- calculator.getReportingPeriods().zipWithIndex) {
                            <h3 class="bold-medium">Your @(new Ordinals(i+1).get()) report:</h3>
                            <p>
                                Covers the period <span class="bold-small"><span clas="nowrap">@x.StartDate.ToDateString()</span> to <span class="nowrap">@x.EndDate.ToDateString()</span></span>
                                <br>
                                You must submit this report by <span class="bold-small nowrap">@x.FilingDeadline.ToDateString()</span>
                            </p>
                        }
                    }
                </div>
                }
            </form>
        }
        <h4 class="heading-small">If your financial year isn’t 12 months long</h4>
        <p>
            There are different rules for businesses with non-standard financial years. If your financial year is:
        </p>
        <ul class="list list-bullet">
            <li>less than 9 months, you only need to report once per financial year and  this report will cover your whole financial year</li>
            <li>between 9 and 15 months, your first report will cover 6 months, and your second report will cover the rest of the financial year</li>
            <li>more than 15 months, you must report 3 times</li>
        </ul>

        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong>You must <a href="@routes.SearchReport.search()">publish your report online</a> by your submission date.</strong>
        </div>
        @if(!print) {
            @_pagination(1, "Overview", "What you must report")
        }
    }

    @if(page==2 || print) {
        <h2 class="heading-large">3. What you must report</h2>
        <p>
            You need to prepare the information for your report and get sign-off by a director (or, in an limited liability partnership, by a designated member) before entering the information into the online form. You need to provide the following information:
        </p>
         <h3 class="heading-medium">Aged creditors report</h3>
         <p>
             You need to report:
         </p>
         
         <ul class="list list-bullet">
            <li>the average time to pay invoices</li>
            <li>the proportion of invoices paid within 30 days, 31 to 60 days, and 61+ days</li>
            <li>the proportion of invoices not paid within agreed terms</li>
        </ul>
        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong>You should calculate your time to pay from the date you receive an invoice or other payment notice such as a timesheet. This is ‘day zero’.</strong>
        </div>
        <h3 class="heading-medium">Your payment terms</h3>
          <p>
              You need to report:
          </p>
        <ul class="list list-bullet">
            <li>your standard payment terms</li>
            <li>your maximum contractual payment period</li>
            <li>any changes you've made to standard terms and whether you told suppliers or consulted with them before making changes</li>
        </ul>
       
       
        <h3 class="heading-medium">How you deal with suppliers</h3>
          <p>
              You need to report:
          </p>
        <ul class="list list-bullet">
            <li>whether you use dispute resolution services for payment disputes</li>
            <li>whether you offer suppliers an e-invoicing facility</li>
            <li>whether you offer suppliers supply chain finance</li>
            <li>whether your business charges suppliers to remain on your supplier list.</li>
            <li>whether your business is a member of a payment code such as the <a href="http://www.promptpaymentcode.org.uk/">Prompt Payment Code</a></li>
        </ul>
        
        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            
            <strong>You must <a href="@routes.SearchReport.search()">publish your report online</a> by your submission date.</strong>
        </div>
        
        @if(!print) {
            @_pagination(2, "Deadlines", null)
        }
    }
    @if(!print) {
        <p class="print-link">
            <a href="?print=1">Print entire guide</a>
        </p>
    } else {
        <script type="text/javascript">
            window.onload = function() {window.print(); };
        </script>
    }
</div>
<div class="column-one-third">
    <div class="separator"></div>
    <h3 class="heading-sidebar">Information for large businesses</h3>
    <ul class="list">
        <li><a href="@routes.Home.ifGuide()">Find out if your business needs to report</a></li>
        <li><a href="@routes.SearchReport.search()">Publish a report</a></li>
    </ul>
</div>
</div>