<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Find out if your business needs to report on payment practices
        </h1>
        <p>
            A company or limited liability partnership (LLP) will have to report if it exceeded at least two of these thresholds on its the last two balance sheet dates:
            <ul class="list list-bullet">
                <li>Turnover of £36 million</li>
                <li>£18 million on its balance sheet</li>
                <li>250 employees</li>
            </ul>
        </p>
        <p>
            This applies to companies formed and registered under the Companies Act 2006 or previous legislation. It also applies to LLPs registered under the Limited Liablity Partnerships Act 2000.
        </p>
        <p>
            Any other business can choose to report if they want.
        </p>
        <h4 class="heading-small">
            Parent companies
        </h4>
        <p>
            Parent companies must report if they qualify in their own right and if the group exceeeds at least two of the threshold requirements below. A group means the parent company and all of its subsidiaries.
            <ul class="list list-bullet">
                <li>Aggregate turnover: £36 million net (or £43.2 million gross)</li>
                <li>Aggregate balance sheet total: £18 million net (or £21.6 million gross)</li>
                <li>Aggregate number of employees: 250</li>
            </ul>
        </p>
        <p>
            “Net” here means after any set-offs and other adjustments to exclude group transactions. “Gross” means without those set-offs and adjustments.
        </p>
        <h4 class="heading-small">
            Mergers, takeovers and acquisitions
        </h4>
        <p>
            If a new business (one which has its own, new company number) is created after a merger or takeover, it won’t have to report in its first year, even if it qualifies as large. If a business is involved in a merger, takeover or acquisition but continues with the same company number, it will have to report if it is classified as large.
        </p>
        <p>
            If your business is required to report, you should read the instructions on <a href="@routes.Home.howGuide(0)">how to report</a>.
        </p>
    </div>
</div>