<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Find out if your business needs to report on payment practices
        </h1>
        <p>
            A company or limited liability partnership (LLP) will have to report on its payment terms, and how well it met those terms, if it is defined as 'large'. This means that it must have exceeded at least 2 of 3 thresholds on its last 2 balance sheet dates. The thresholds are:
        </p>
        <ul class="list list-bullet">
            <li>turnover of £36 million</li>
            <li>£18 million on its balance sheet</li>
            <li>250 employees</li>
        </ul>
        <p>
            This applies to:
        </p>
        <ul class="list list-bullet">
             <li>companies formed and registered under the Companies Act 2006 or previous legislation</li>
             <li>LLPs registered under the Limited Liablity Partnerships Act 2000</li>
        </ul>
        <p>
            Any other business can choose to report if they want.
        </p>
        <h4 class="heading-small">
            Parent companies
        </h4>
        <p>
            If a parent company qualifies as 'large', it will only have to report if the group exceeds at least 2 of 3 thresholds. The thresholds are:
        </p>
        <ul class="list list-bullet">
            <li>an aggregate turnover of £36 million net or £43.2 million gross</li>
            <li>an aggregate balance sheet total of £18 million net or £21.6 million gross</li>
            <li>an aggregate workforce of 250</li>
        </ul>
        <p>
            'Net' here means after any set-offs and other adjustments to exclude group transactions. 'Gross' means without those set-offs and adjustments.
        </p>
        <h4 class="heading-small">
            Mergers, takeovers and acquisitions
        </h4>
        <p>
        There are different rules on reporting, depending on what happens after the merger, takeover or acquisition. If the 'corporate action' creates:
        </p>
        <ul class="list list-bullet">
            <li>a new business (one with a new company number), it won’t have to report in its first year</li>
            <li>a business which continues with the same company number, it will have to report if it is classified as large</li>
        </ul>
        <p>
            If your business is required to report, you should read the instructions on <a href="@routes.Home.howGuide(0)">how to report</a>.
        </p>
    </div>
    <div class="column-one-third">
        <div class="separator"></div>
        <h3 class="heading-sidebar">Information for large businesses</h3>
        <ul class="list">
            <li><a href="@routes.Home.howGuide(0)">How to report</a></li>
            <li><a href="@routes.SearchReport.search()">Publish a report</a></li>
        </ul>
    </div>
</div>