<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.Home.index()">Home</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        Payment practices duty
    </h1>
    <p class="lede">
        All large businesses are now required to publish information about how promptly they pay their suppliers. You can find this information here.
    </p>
</div>
<div class="grid-row">
    <div class="column-one-half">
        <h3 class="heading-medium">
            <a href="@routes.FileReport.index()">
                Duty to report for large businesses
            </a>
        </h3>
        <p>
            If you work for a large business, you can learn about about your duty to report and file your reports here.
        </p>
    </div>
    <div class="column-one-half">
        <h3 class="heading-medium">
            <a href="@routes.SearchReport.searchstart()">
                Search the payment practices reports
            </a>
        </h3>
        <p>
            Search for a business to find out how promptly they pay their suppliers.
        </p>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-half">
        <h3 class="heading-medium">
            <a href="@routes.Home.accessData()">
                Download the report data as a spreadsheet
            </a>
        </h3>
        <p>
            The entire database of large business prompt payment information.
        </p>
    </div>
    <div class="column-one-half"></div>
</div>
<div class="scannable-wrapper">
    <h2 class="heading-medium">
        About the payment practices duty
    </h2>
    <p>
        Lorem ipsum dolor sit amet, sit eu adolescens suscipiantur. Augue accommodare sit ut, nusquam placerat ex sit. Soluta nostrum intellegat duo cu. Erat legere saperet ei sed. Id eam ponderum fabellas, albucius similique omittantur cum an. Liber luptatum cu vis, id vis vide eirmod facilis. <a href="@routes.Home.about()">Learn more</a>.
    </p>
</div>


