<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        @shared._name()
    </h1>
    <p class="lede">
        Large businesses must publish information about their payment terms and how they keep to them.
    </p>
</div>
<div class="grid-row">
    <div class="column-half">
        <h3 class="heading-medium">Search for a report</h3>
        <p>
            <a href="@routes.SearchReport.search(false)">Search for a report</a> to learn about the payment practices of a large business.
        </p>
        <p>
            <a href="#">Large UK businesses</a> typically file reports every six months, but not every business is required to report.
        </p>
        <p>
            You can <a href="@routes.Home.accessData()">download all available reports</a> as a file for further analysis.
        </p>
    </div>
    <div class="column-half">
        <h3 class="heading-medium">Publish reports</h3>
        <p>
            You’ll need to <a href="@routes.Questionnaire.start()">find out if you need to publish a report</a>.
        </p>
        <p>If you have to publish reports, you need to <a href="@routes.Questionnaire.calculator()">work out your reporting periods and deadlines</a>. You'll get a customised checklist of the data you’ll need to assemble.
        </p>
        <p>
            Once you’ve prepared all your report data, you must <a href="@routes.SearchReport.search(true)">publish your report</a>. All reports are published online, where anyone will be able to read them.
        </p>
    </div>
</div>

