<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        Payment duty register
    </h1>
    <p class="lede">
        Lorem ipsum, dolor sit amet.
    </p>
</div>
<div class="grid-row">
    <div class="column-one-third">
        <h3 class="heading-medium">
            <a href="@routes.FileReport.index()">
                File a report
            </a>
        </h3>
        <p>
            Businesses may publish data on their payment practices here.
        </p>
    </div>
    <div class="column-one-third">
        <h3 class="heading-medium">
            <a href="@routes.SearchReport.searchstart()">
                Search reports
            </a>
        </h3>
        <p>
            Find information on the payment practices of a company.
        </p>
    </div>
    <div class="column-one-third">
        <h3 class="heading-medium">
            <a href="@routes.Home.accessData()">
                Get raw data
            </a>
        </h3>
        <p>
            You can download the raw dataset for commercial and personal use.
        </p>
    </div>
</div>
<div class="scannable-wrapper">
    <h2 class="heading-medium">
        About the payment duty register
    </h2>
    <p>
        Lorem ipsum dolor sit amet, sit eu adolescens suscipiantur. Augue accommodare sit ut, nusquam placerat ex sit. Soluta nostrum intellegat duo cu. Erat legere saperet ei sed. Id eam ponderum fabellas, albucius similique omittantur cum an. Liber luptatum cu vis, id vis vide eirmod facilis. <a href="@routes.Home.about()">Learn more</a>.
    </p>
</div>


