.scannable-wrapper {
    max-width: 640px;
}

.nowrap {
    white-space:nowrap;
}
.separator {
    height: 10px;
    background-color: #005ea5;
}
.heading-sidebar {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    font-size-adjust: 0.525;
    margin-top: 0.5em;
    margin-bottom: .83333em;
}
.hidden {
   display:none;
}
.button {
    margin-top:1.7em;
}

.block {
    display: block;
}

.fieldcaption {
    font-weight:bold;
}

fieldset {
    margin-bottom: 2em;
}

.error-wrapper fieldset {
    padding-left:20px;
}

.error fieldset {
    padding-left:0;
}


/* Search results */
.paging .page {
    display:inline;
    margin-right:1em;
}

.paging .page .thispage {
    font-weight:bold;
}

.link {
    margin:0;
    padding:0;
    color: #005ea5;
    text-decoration:underline;
    display:inline;
    border:none;
    background:none;
    cursor:pointer;
}
.searchresults {
    margin: 2em 0;
}

.searchresult p {
    margin: 0;
    color: #616a6e;
}
.searchresult .heading-medium {
    margin-bottom:15px;
}

#StartDate_day, #StartDate_month, #StartDate_year,
#EndDate_day, #EndDate_month, #EndDate_year {
    display: inline;
    width: 5em;
    margin-right: 10px;
}

.stat {
    font-size: 1.2em;
    font-weight:bold;
}
.stat .bignumber {
    font-size: 1.5em;
}

/* Search box */
.search-bar-active {
  background: #E5E5E5;
  padding: 0.5em;
}
.searchfield {
  position:relative;
}

.search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
    cursor: pointer;
    box-shadow: none;
    font-size:0;
    color: #fff;
    background-color: #005ea5;
    background-image: url('/assets/images/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
    border: solid 1px #bfc1c3;
}

#site-search-text{
    //font-family: "proxima_nova", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 93%;
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border: solid 1px #bfc1c3;
    border-right: none;
}