.scannable-wrapper {
    max-width: 640px;
}

.button {
    margin-top:1.7em;
}

.block {
    display: block;
}

.fieldcaption {
    font-weight:bold;
}

.stat {
    font-size: 1.2em;
    font-weight:bold;
}
.stat .bignumber {
    font-size: 1.5em;
}