.scannable-wrapper {
    max-width: 640px;
}

.button {
    margin-top:1.7em;
}

.block {
    display: block;
}

.fieldcaption {
    font-weight:bold;
}

fieldset {
    margin-bottom: 2em;
}
.error-wrapper fieldset {
    padding-left:20px;
}

.error fieldset {
    padding-left:0;
}

#StartDate_day, #StartDate_month, #StartDate_year,
#EndDate_day, #EndDate_month, #EndDate_year {
    display: inline;
    width: 5em;
    margin-right: 10px;
}

.stat {
    font-size: 1.2em;
    font-weight:bold;
}
.stat .bignumber {
    font-size: 1.5em;
}