@import views.html.common.page.govukTemplate

@(htmlTitle: String)(content: Html)

@head = {
}

@govukTemplate(
  Some(htmlTitle),
  bodyClasses = None,
  htmlLang = None
)(
  head = head,
  bodyStart = HtmlFormat.empty,
  bodyEnd = HtmlFormat.empty,
  insideHeader = HtmlFormat.empty,
  afterHeader = HtmlFormat.empty,
  footerTop = HtmlFormat.empty,
  footerLinks = HtmlFormat.empty,
  headerClass = Html("with-proposition"),
  propositionHeader = Html("<div class=\"header-proposition\"><div class=\"content\"><a href=\"#proposition-links\" class=\"js-header-toggle menu\">Menu</a><nav id=\"proposition-menu\"><a id=\"proposition-name\" href=\"/\">"
    + "Payment practices duty" + "</a><ul id=\"proposition-links\"><li><a href=\"" + routes.FileReport.index() + "\">File a report</a></li><li><a href=\"" + routes.SearchReport.searchstart()+ "\">Search reports</a></li><li><a href=\"" + routes.Home.accessData()+ "\">Access raw data</a></li></ul></nav></div></div>"),
  homepageUrl = None,
  globalHeaderText = None,
  cookieMessage = None,
  skipLinkMessage = None,
  skipLinkTarget = "contentStart",
  logoLinkTitle = None,
  licenceMessage = Html("<p>All content is available under the " +
    "<a rel=\"license\" href=\"https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/\">Open Government Licence v3.0</a>," +
    " except where otherwise stated</p>"),
  crownCopyrightMessage = None
)(
  Html("<main id=\"content\" role=\"main\"> <div class=\"phase-banner-alpha\"><p><strong class=\"phase-tag\">ALPHA</strong><span>This is a new service – your <a href=\"#\">feedback</a> will help us to improve it.</span></p></div>" +
  content +
  "</main>")
)